:root {
    --spud-dark: #000000;         /* luxury-swimming-pool-in-santorini.-3d-rendering-1 (main dark blue) */
    --spud-light-accent: #ffffff; /* luxury-swimming-pool-in-santorini.-3d-rendering-2 (blue-grey) */
    --spud-purple: #5f64c6;       /* luxury-swimming-pool-in-santorini.-3d-rendering-3 (vivid pool blue) */
    --spud-purple-light: #000000; /* luxury-swimming-pool-in-santorini.-3d-rendering-4 (accent light blue) */
    --spud-bg-light: #c4f2fb;     /* luxury-swimming-pool-in-santorini.-3d-rendering-5 (very light turquoise) */
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: var(--spud-bg-light);
    color: var(--spud-dark);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-spud-primary {
    background: var(--spud-purple);
    color: #fff;
    border: none;
}
.btn-spud-primary:hover, .btn-spud-primary:focus {
    background: var(--spud-purple-light);
    color: #fff;
}

.btn-spud-secondary {
    background: var(--spud-light-accent);
    color: var(--spud-dark);
    border: none;
}
.btn-spud-secondary:hover, .btn-spud-secondary:focus {
    background: var(--spud-purple-light);
    color: #fff;
}

.table-spud th {
    background: var(--spud-light-accent) !important;
    color: var(--spud-dark);
}

.form-control, .form-select {
    border-radius: 0.3rem;
    border: 1px solid var(--spud-purple-light);
}

.card-spud {
    background: var(--spud-light-accent);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 3px 16px rgba(56,92,166,0.08);
}